<!DOCTYPE html>
<html>
  <head>
    <title>RailsChart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="fluid-container">
       <%= render 'layouts/navigation_bar' %>
       
      <div class="container">
        <div class="row">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
         
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
